
html,body {
    margin:0;
    width:100%;
    height:100%;
	background-image: url("http://localhost/Escape_Game/image/Accueil/fond.png");
	background-repeat: no-repeat;
	background-size: auto;

}
/*div principale de gauche*/

#imagesGauche{ /*div*/
	position: absolute;
	left: 1%;
	width: 32%;
	height: 82%;
	bottom: 9%;
	top: 1%;	
}
#nuagediv{/*div*/
	position: absolute;
	bottom: 0%;
	width: 100%;
	height: 60%;
	background-image: url("http://localhost/Escape_Game/image/Accueil/nuage.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: contain;	
}
#personnagemessage{/*div*/
	position: absolute;
	background-image: url("http://localhost/Escape_Game/image/Accueil/Personnage.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 60%;
	top: 0%;
	right: 0%;
	width: 45%;
	height: 83%;	
}
#personnage{/*image dans div*/
	position: absolute;
	bottom: 0%;
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);

}
#message{/*div*/
	position: relative;
	top: 0%;
	width: 100%;
	height: 34%;
	background-image: url("http://localhost/Escape_Game/image/Accueil/Bulle.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

}
#bienvenue{/*image dans div*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -80%);
	width: 80%;

}
/*div principale du milieu*/
.global{/*div*/
	background-image: url("http://localhost/Escape_Game/image/Accueil/parchemin.png");
	background-repeat: no-repeat;
	background-size: contain;
	padding: 8% 7%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
#multijoueurs{/*afficher qu'une fois la personne est connectée*/
	display: none;
}
/*div principale de droite*/
#imageDroite{/*div*/
	position: absolute;
	right: 1%;
	width: 32%;
	height: 82%;
	bottom: 9%;
	top: 1%;
}
#nuageporte{/*image*/
	position: absolute;
	left: 0%;
	top: 15%;
}
/*div principale du bas*/
#barredubas{/*div*/
	position: absolute;
	bottom: 0%;
	height: 12%;
	width:95%;
	margin: 1% 3%;

}
#regles{
	position: absolute;
	left: 0%;
}
#accueil{
	position: absolute;
	right: 0%;	
}
/*popup inscription connexion et regles du jeu*/
.popup{ /* position generale des popup */
	position: absolute;
	background-color: white;
	border: 2px solid palegreen;
	border-radius: 8px;
	color: black;
	width: 350px;
	height: 455px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;

}
#regles_popup, #inscription_popup, #connexion_popup{ /* masquer la popup*/
	display: none;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* masquer la barre de défilement pour IE et Edge */
 	scrollbar-width: none;  /* masquer la barre de défilement pour Firefox */
}
/* masquer la barre de défilement pour safari, firefox et Opera*/
#regles_popup::-webkit-scrollbar, #inscription_popup::-webkit-scrollbar, #connexion_popup::-webkit-scrollbar {
  display: none;
}
#paragrapheregle{/*div contenant les regles du jeu*/
	text-align: justify;
	position: absolute;
	top: 15%;
	bottom: 2%;
	left: 2%;
	right: 2%;
}
#formulaire{/*div contenant le formulaire*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
h1{/*titre popup*/
	text-align: center;
}
label, input{/*contenu popup*/
	display:block;
	text-align: center;
	bottom: 50%;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
}
label{
	width: 300px;
}
form{
	height: 60%;	
}
/*mise en forme du formulaire*/
.input{
	border:2px solid palegreen;
	background-color: white;
	opacity: 0.6;
	color: black;
	margin-top: 6px;	
}
.input:focus{
	border:2px solid #0000;
	background-color: palegreen;
}
input[type=submit]{
	position: absolute;
	bottom: 3px;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 2px solid grey;
	box-shadow: 0 9px grey;
	border-radius: 8px;
	color: black;
	padding: 14px 35px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin: 5px 2px 20px;
	cursor: pointer;	
}
input[type=submit]:hover{
	background-color: palegreen;
	color: white;
	transition-duration: 0.5s;
}
.champs{/*pour eviter que les champs ne se superposent*/
	padding: 3px 0px;
}
.erreur{/*message d'erreur lors de la verification de la saisie*/
	color: red;
}

/*configuration de tous les bouttons*/
.boutton{
	background-color: white;
	border: 2px solid grey;
	box-shadow: 0 9px grey;
	border-radius: 8px;
	color: black;
	padding: 14px 35px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin: 5px 2px 20px;
	cursor: pointer;
	width: auto;	
}
.boutton:hover{
	background-color: palegreen;
	color: white;
	transition-duration: 0.5s;
}
.boutton:active{
	box-shadow: 0 5px grey;
	transform: translateY(6px);
}
/*ajuster les images suivant la taille de l'écran*/
@media screen and (max-width: 900px){
	
	#imagesGauche , #imageDroite {
    display: none;
  	}
  	.global{
  		padding: 68px 60px;
  	}
}
@media screen and (max-width: 600px){
	.boutton{
		font-size: 10px;
	}
}
