html,body {
    margin:0;
    width:100%;
    height:100%;
	background-image: url("http://localhost/Escape_Game/image/Accueil/fond.png");
	background-repeat: no-repeat;
	background-size: auto;

}
/*div principale de gauche*/

#imagesGauche{ /*div*/
	position: absolute;
	left: 1%;/*5px*/
	width: 32%;/*420px*/
	height: 82%;/*470px*/
	bottom: 9%;/*95px*/
	top: 1%;/*5px*/
	/*margin:3px;*/

	/*border: 3px solid black;*/
}
#nuagediv{/*div*/
	position: absolute;
	bottom: 0%;/*0*/
	width: 100%;/*inherit*/
	height: 60%;/*350px*/
	background-image: url("http://localhost/Escape_Game/image/Accueil/nuage.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: contain;
	/*margin: 3px;*/

	/*border: 3px solid black;*/
}
#personnagemessage{/*div*/
	position: absolute;
	background-image: url("http://localhost/Escape_Game/image/Accueil/Personnage.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 60%;
	top: 0%;/*0*/
	right: 0%;/*0*/
	width: 45%;/*210px*/
	height: 83%;/*230px*/
	/*margin: 3px;*/

	/*border: 3px solid black;*/
}
#personnage{/*image dans div*/
	position: absolute;
	bottom: 0%;/*0*/
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);

	/*margin: 3px;*/

	/*border: 3px solid black;*/
}
#message{/*div*/
	position: relative;
	top: 0%;/*0*/
	width: 100%;/*inherit*/
	height: 34%;/*80px*/
	background-image: url("http://localhost/Escape_Game/image/Accueil/Bulle.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	/*margin: 3px;*/

	/*border: 3px solid black;*/
}
#bienvenue{/*image dans div*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -80%);
	width: 80%;

	/*border: 3px solid black;*/
}
/*div principale du milieu*/
.global{/*div*/
	background-image: url("http://localhost/Escape_Game/image/Accueil/parchemin.png");
	background-repeat: no-repeat;
	background-size: contain;
	padding: 8% 7%;/*90px*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*margin: 3px;*/

	/*border: 3px solid black;*/
}
#multijoueurs{/*afficher qu'une fois la personne est connectée*/
	display: none;
}
/*div principale de droite*/
#imageDroite{/*div*/
	position: absolute;
	right: 1%;/*5px*/
	width: 32%;/*420px*/
	height: 82%;/*470px*/
	bottom: 9%;/*95px*/
	top: 1%;/*5px*/
	/*margin:3px;*/

	/*border: 3px solid black;*/
}
#nuageporte{/*image*/
	position: absolute;
	left: 0%;/*0*/
	top: 15%;/*75px*/
}
/*div principale du bas*/
#barredubas{/*div*/
	position: absolute;
	bottom: 0%;/*0*/
	height: 12%;/*75px*/
	width:95%;
	margin: 1% 3%; /*5px 10px*/

	/*border: 3px solid black;*/
}
#regles{
	position: absolute;
	left: 0%;/*0*/
}
#accueil{
	position: absolute;
	right: 0%;/*0*/	
}

/*popup pararamètre déconnexion et regles du jeu*/
.popup{ /* position generale des popup */
	position: absolute;
	background-color: white;
	border: 2px solid palegreen;
	border-radius: 8px;
	color: black;
    width: 350px;
	height: 455px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;

	/*border: 20px solid transparent;
	padding: 20px;
	border-image: url("Images/Accueil/orange.png");
	border-image-repeat: round;
	border-image-slice: 150;
	border-image-outset: 10px;*/
}
#regles_popup, #paramètre_popup, #déconnexion_popup{ /* masquer la popup*/
	display: none;
	/*padding: 150px 340px;*/
	overflow-y: scroll;
	-ms-overflow-style: none;  /* masquer la barre de défilement pour IE et Edge */
 	scrollbar-width: none;  /* masquer la barre de défilement pour Firefox */
}
/* masquer la barre de défilement pour safari, firefox et Opera*/
#regles_popup::-webkit-scrollbar, #paramètre_popup::-webkit-scrollbar, #déconnexion_popup::-webkit-scrollbar {
  display: none;
}
#paragrapheregle{/*div contenant les regles du jeu*/
	text-align: justify;
	position: absolute;
	top: 15%;
	bottom: 2%;
	left: 2%;
	right: 2%;
}
#formulaire{/*div contenant le formulaire*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
h1{/*titre popup*/
	text-align: center;
}
label, input{/*contenu popup*/
	display:block;
	text-align: center;
	bottom: 50%;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
}
form{
	height: 60%;	
}
/*mise en forme du formulaire*/
input[type=text]{
	border:2px solid palegreen;
	background-color: white;
	opacity: 0.6;
	color: black;
	margin: 6px;	
}
input[type=text]:focus{
	border:2px solid #0000;
	background-color: palegreen;
}/*VOIRE POURQUOI LE BOUTTON PART VERS LA DROITE QUAND ON CLIQUE DESSUS!!!!!*/
input[type=button]{
	position: absolute;
	bottom: 0%;
	border:2px;
	background-color: white;
	color: black;
	border: 2px solid grey;
	box-shadow: 0 9px grey;
	border-radius: 20px;
	color: black;
	padding: 14px 35px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 2px;
	cursor: pointer;
	width: auto;
}

#submit_paramètre{
	position: absolute;
	bottom: 0%;
	border:2px;
	background-color: white;
	color: black;
	border: 2px solid grey;
	box-shadow: 0 9px grey;
	border-radius: 20px;
	color: black;
	padding: 14px 35px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 2px;
	cursor: pointer;
	width: auto;
}
#submit_déconexion{
 position: absolute;
 bottom: 0%;

}


/*
input[type=button]:hover{
	background-color: palegreen;
	color: white;
	transition-duration: 0.5s;
}
input[type=button]:active{
	box-shadow: 0 5px grey;
	transform: translateY(6px);
}*/
.erreur{/*message d'erreur lors de la verification de la saisie*/
	color: red;
	display: block;
	text-align: center;
	padding-bottom: 14px;
	height: 15px;
	width: 100%;
}

/*configuration de tous les bouttons*/
.boutton{
	background-color: white;
	border: 2px solid grey;
	box-shadow: 0 9px grey;
	border-radius: 8px;
	color: black;
	padding: 14px 35px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin: 5px 2px 20px;
	cursor: pointer;
	width: auto;	
}
.boutton:hover, input[type=button]:hover, input[type=submit]:hover{
	background-color: palegreen;
	color: white;
	transition-duration: 0.5s;
}
.boutton:active, input[type=button]:active{
	box-shadow: 0 5px grey;
	transform: translateY(6px);
}
/*ajuster les images suivant la taille de l'écran*/
@media screen and (max-width: 900px){
	
	#imagesGauche , #imageDroite {
    display: none;
  	}
  	.global{
  		padding: 68px 60px;
  	}
}
@media screen and (max-width: 600px){
	.boutton{
		font-size: 10px;
	}
}
