html {
	max-height: 720px;
	max-width: 1280px;
	position:relative;
}

body{
	background-color: black;
	color : white;
}
#portail {
	width: 160px;
	left: -18%;
	position: absolute;}
#parquet{
	height: 450px;
	width: 80%;
	margin: auto;
	background-image:url(http://localhost/Escape_Game/image/Salle/Parquet1.png);}
#salle{
	font-family: impact;
	width:1100px;
}
#jeu{
	font-size: 40px;
	color: white;}
#haut{
	font-size: 140%;
	color: white;
	height: 95px;}
#table{
	position: absolute;
	width: 150px;
	top: 50%;
	left: 63%;}
#bonhomme{
	position: absolute;
	max-width: 100px;
	top: 35%;
	left: 70%;}
#livre {
	position: absolute;
	width:200px;
	top:100%;
}
#bonhommeContent{
	position: absolute;
	max-width: 100px;
	top: 35%;
	left: 70%;
}
#bulle{
	width: 430px;
	left: 60%;
	top:10%;
	position: absolute;}
#bulle span{
	color: black;
	font-size: 45%;
	margin-top: 4%;}
#imageBulle{
	width: 430px;}
#porte{
	width: 110px;
	left: 50%;
	position: absolute;}
#imagePorte{
	width: 100%;}
#haut span{
	left: 13%;
	position: absolute;
	top : 3%;}
#cadenas{
	width: 70px;
	left: 90%;
	top:90%;
	position: absolute;}
#cadenasouvert {
	width: 70px;
	left: 90%;
	top:90%;
	position: absolute;
}
#zoneReponse{
	top: 10px;
	width:1150px;
	position: relative;
}
#reponse{
	font-size: 80%;
	width:950px;
	left:10px;
	position: relative;
}
#numSalle{
	position: absolute;
	top: 2%;
	width: 20%;}
#valider{
	position: absolute;
	height: 46px;}
#compteur{
	position: absolute;
	left: 30%;
	top: 2%;
	border : solid;}
#coupe{
	left:65%;
	top:32%;
	position:absolute;}
#perdu{
	position:absolute;
	left:50%;
	bottom:20%;
	color:red;
	font-size:3em;
	font-family: impact;
}
#perdu:hover{
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.indice {
  position: fixed;
  top: 75%;
  left: 20%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.indice.active {
  transform: translate(-50%, -50%) scale(1);
}

.indice-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.indice-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

#indice-body {
  padding: 10px 15px;
  color: black;
}

#boutonaccueil{
	position:absolute;
	left:100%;
	top:100%;
	background-color: white;
	border: 2px solid grey;
	box-shadow: 0 9px grey;
	border-radius: 8px;
	color: black;
	padding: 14px 35px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin: 5px 2px 20px;
	cursor: pointer;
	width: auto;	
}
#boutonaccueil:hover, input[type=button]:hover{
	background-color: palegreen;
	color: white;
	transition-duration: 0.5s;
}
#boutonaccueil:active, input[type=button]:active{
	box-shadow: 0 5px grey;
	transform: translateY(6px);
}

#boutonskip{
	position:absolute;
	left:90%;
	top:1%;
	background-color: white;
	border: 2px solid grey;
	box-shadow: 0 9px grey;
	border-radius: 8px;
	color: black;
	padding: 14px 35px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin: 5px 2px 20px;
	cursor: pointer;
	width: 105px;	
}
#boutonskip:hover, input[type=button]:hover{
	background-color: red;
	color: white;
	transition-duration: 0.5s;
}
#boutonskip:active, input[type=button]:active{
	box-shadow: 0 5px grey;
	transform: translateY(6px);
}
