body{
	background-image: url("c:/Users/marin/Documents/L2/Web Avancé/escape_game/Images/Accueil/fond.png");
	background-repeat: no-repeat;
	background-size: cover;

}

.global{
	background-image: url("c:/Users/marin/Documents/L2/Web Avancé/escape_game/Images/Accueil/parchemin.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.boutton{
	background-color: white;
	border: 2px solid #e7e7e7;
	border-radius: 8px;
	color: black;
	padding: 14px 40px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;	
	
}

.button:hover{
	background-color: black;
	color: white;
}


#regles{
	position: absolute;
	bottom: 5%;
	left: 5%;
}

#accueil{
	position: absolute;
	bottom: 5%;
	right: 5%;
}

.imagesGauche{
	position: absolute;
	bottom: 175px;
}

#nuage{
	position: relative;
	z-index: 1;
	left: 2%;
	bottom: 0px;
	
}

#personnage{
	position: absolute;
	z-index: 2;
	left: 290px;
	bottom: 90px;
}

#bulle{
	position: absolute;
	z-index: 3;
	left: 270px;
	bottom: 225px;
}

#bienvenue{
	position: absolute;
	z-index: 4;
	left: 285px;
	bottom: 260px;
}

.imageDroite{
	position: absolute;
	top: 20%;
	right: 20%;
}