body{
	background-color: black;
}
#parquet{
	height: 500px;
	width: 863px;
	margin: auto;
	background-image:url(Salle/Parquet1.png);
}
#jeu{
	font-size: 50px;
	color: white;
}
#haut{
	font-size: 70px;
	color: white;
	height: 123px;
}
#table{
	position: absolute;
	width: 150px;
	margin-top: 150px;
	margin-left: 550px;
}
#bonhomme{
	position: absolute;
	max-width: 100px;
	margin-top: 50px;
	margin-left: 650px;
}
#bulle{
	width: 450px;
	margin-left: 65%;
	position: absolute;
}
#imageBulle{
	width: 450px;
}
#porte{
	width: 140px;
	margin-left: 50%;
	position: absolute;
}
#haut span{
	vertical-align:top;
	margin-left: 15%;
	position: absolute;

}
#cadenas{
	width: 100px;
	margin-left: 40%;
	position: absolute;
}
#zoneReponse{
	margin-top: 10px;
}
#reponse{
	font-size: 40px;
}
#numSalle{
	position: absolute;
	margin-top: 15px;
}
#valider{
	position: absolute;
	height: 60px;
}
